# Ignore everything backend builds
/backend/build/
/backend/.gradle/
/backend/*.log

# Ignore Angular build
/frontend/dist/
/frontend/node_modules/
/frontend/.angular/
/frontend/.env
/frontend/*.log

# IDEs
**/.idea/
**/.vscode/
**/*.iml

# OS Files
.DS_Store
Thumbs.db

# Docker
**/pgdata/
**/volumes/

# Ignore environment variable files
env/.env.dev
env/.env.prod
docker/env/.env.dev
docker/env/.env.prod
