# .gitlab-ci.yml
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^feature\/.*$/'
      when: always
    - if: '$CI_COMMIT_BRANCH == "dev"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "dev-test"'
      when: always
    - when: never

include:
  - local: '.gitlab/ci/feature.yml'
    rules:
      - if: '$CI_COMMIT_BRANCH =~ /^feature\/.*$/'

  - local: '.gitlab/ci/dev.yml'
    rules:
      - if: '$CI_COMMIT_BRANCH == "dev"'
      - if: '$CI_COMMIT_BRANCH == "dev-test"'

  - local: '.gitlab/ci/main.yml'
    rules:
      - if: '$CI_COMMIT_BRANCH == "main"'
