<!-- Section 1: HERO -->
<app-hero-section></app-hero-section>

<!-- Section 2 -->
<section class="section">
  <div class="text-center py-32">
    <h1 class="text-3xl font-bold mb-2">Welcome to CareerPath 👋</h1>
    <p class="text-gray-600">Select an option from the menu.</p>
  </div>
</section>

<!-- Section 3 -->
<section class="section">
  <div class="container mx-auto py-32 text-center">
    <h2 class="text-4xl font-bold">Your Career, Your Rules</h2>
    <p class="mt-4 text-lg text-white/90">Smart job filtering and personalized recommendations.</p>
  </div>
</section>
