<div class="min-h-screen bg-black flex items-center justify-center px-4">
  <div
    class="w-full max-w-md bg-black/40 border border-gray-800 rounded-2xl p-8 shadow-xl backdrop-blur-md"
  >
    <h2 class="text-3xl font-semibold text-white mb-1">Welcome Back</h2>
    <p class="text-gray-400 mb-6 text-sm">
      Login to access your personalized CareerPath dashboard.
    </p>

    <form (ngSubmit)="login()" #loginForm="ngForm" class="space-y-4">
      <div>
        <label for="email" class="block text-gray-300 text-sm mb-1">Email</label>
        <input
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          type="email"
          class="w-full bg-black/40 border border-gray-700 rounded-lg p-3 text-white
                 focus:border-orange-500 focus:ring-0 outline-none transition"
        />
      </div>
      <div>
        <label for="password" class="block text-gray-300 text-sm mb-1">Password</label>
        <input
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          type="password"
          class="w-full bg-black/40 border border-gray-700 rounded-lg p-3 text-white
                 focus:border-orange-500 focus:ring-0 outline-none transition"
        />
      </div>

      <div *ngIf="errorMessage" class="text-red-400 text-sm mt-2">
        {{ errorMessage }}
      </div>
      <button
        [disabled]="loginForm.invalid"
        class="w-full mt-2 bg-orange-500 hover:bg-orange-600 disabled:bg-gray-700
               disabled:cursor-not-allowed text-black font-semibold py-3 rounded-xl
               transition"
      >
        Login
      </button>
    </form>

    <div class="flex items-center my-6">
      <div class="flex-grow border-t border-gray-700"></div>
      <span class="text-gray-500 text-xs px-3">OR</span>
      <div class="flex-grow border-t border-gray-700"></div>
    </div>

    <button
      (click)="loginWithGoogle()"
      class="w-full border border-gray-700 hover:border-orange-500 text-gray-300
             font-medium py-3 rounded-xl flex items-center justify-center gap-2 transition"
    >
      <img src="assets/google.png" alt="Google image" class="w-5 h-5" />
      Continue with Google
    </button>

    <p class="text-right text-sm mt-1">
      <a routerLink="/auth/forgot-password" class="text-orange-400 hover:text-orange-300">
        Forgot your password?
      </a>
    </p>

    <p class="text-gray-400 text-sm mt-6 text-center">
      Don't have an account?
      <a routerLink="/auth/register" class="text-orange-400 hover:text-orange-300">
        Create one →
      </a>
    </p>
  </div>
</div>
