services:
  backend:
    build:
      context: ../../backend
    container_name: cp-backend
    networks:
      - cp-net
    ports:
      - "8080:8080"
    env_file:
      - ../env/.env.${ENV:-dev}
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build:
      context: ../../frontend
    container_name: cp-frontend
    networks:
      - cp-net
    depends_on:
      - backend
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: cp-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - cp-net
    restart: unless-stopped

networks:
  cp-net:
    driver: bridge

volumes:
  cp_pg_data: